* {
  margin: 0;
  padding: 0;
}
section {
  @apply relative w-full h-screen text-black flex flex-col overflow-hidden
}

section .row {
  @apply relative w-full py-3 whitespace-nowrap text-6xl -rotate-35 -top-1/2;
}

section .row div:nth-child(2n) {
  animation: animate1 20s linear infinite;
  animation-delay: -40s;
}
section .row div:nth-child(2n + 1) {
  animation: animate2 20s linear infinite;
  animation-delay: -40s;
}

.container {
  display: flex;
  /* flex-grow: 1; */
}

.bloco {
  width: calc(32% - 22px);
  height: 200px;
  transition: width 0.3s ease;
  flex-grow: 1;
}

.bloco:hover {
  width: calc(35% - 22px);
}
.container:hover .bloco:not(:hover) {
  width: calc(25% - 22px);/* Reduz o tamanho dos outros blocos ao passar o mouse em um bloco */
} 


/* .expand:not(:hover){
  width: 350px;
} */

@keyframes animate1 {
  0% {
    transform: translateX(-20rem);
  }
  100% {
    transform: translateX(-157.5rem);
  }
}
@keyframes animate2 {
  0% {
    transform: translateX(-157.5rem);
  }
  100% {
    transform: translateX(-20rem);
  }
}

section .row:nth-child(2n) div {
  background: wheat;
  animation: animate3 80s linear infinite;
  animation-delay: -80s;
}
@keyframes animate3 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
